<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'C:\Users\Mal\Desktop\Coding Dojo\Assignments\Python\Projects\RealPortfolio\apps\first_app\static\first_app\css\about.css' %}">
        <title>About</title>
    </head>
    <body>
        <h1>About Me</h1>
        <a href="index">Go back!</a>
        <div id="container">
            <p>
                I am a full stack developer in training at Coding Dojo in Seattle, WA. I am well-versed in front-end web development, as well as Python and C#.<br><br>
                My true passion lies in game development and I plan to pick up graphics animation next. I'm very interested in learning the skills to become a technical artist.<br><br>
                I get along well with people and love learning new things. In my spare time, I game, travel, and experiment in the kitchen.       
            </p>
        </div>
    </body>
</html>