<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Portfolio</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'C:\Users\Mal\Desktop\Coding Dojo\Assignments\Python\Projects\RealPortfolio\apps\first_app\static\first_app\css\index.css' %}">
    </head>
    <body>
        <div id="container">
            <h1>Hi, I'm Malina!</h1>
            <h3>Welcome to my portfolio</h3>
            <a href="projects">Projects</a>
            <a href="about">About Me</a>
            <a href="testimonials">Testimonials</a>
            <br><br><br>
            <div class="boxes">
                <p>I have a variety of projects, both personal and contract. 
                They are built using Python, C#, and JavaScript.</p>
            </div>
            <div class="boxes">
                <p>I identify as an ambulatory, bipedal humaiod.</p>
            </div>
            <div class="boxes">
                <p>See what peers and clients have said about my work!</p>
            </div>
        </div>
    </body>
</html>