<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load staticfiles %}
        <link rel="stylesheet" href="{%static 'C:\Users\Mal\Desktop\Coding Dojo\Assignments\Python\Projects\RealPortfolio\apps\first_app\static\first_app\css\testimonials.css' %}">
        <title>Testimonials</title>
    </head>
    <body>
        <h1>Testimonials</h1>
        <a href="index">Go back!</a>
        <p>
            "I've been digging graves for 30 years, and I've never seen anything as haunting as Malina Morning. But she'll build you a mean website, man."
            - Seattle mortician and cupcake maker to the stars
        </p><br><br>
        <p>
            "My life will never be the same..."
            - Malina's mom, an Italian-trained chef
        </p><br><br>
        <p>
            "12 out of 10 small businesses give Mal a 5-star development rating"
            - Google Analytics
        </p><br><br>
        <p>
            "That hair, tho... So stylish."
            - Johnny Depp
        </p>
    </body>
</html>