body {
    width: 1100px;
    height: 500px;
    margin: 0 auto;
    padding: 35px 20px;
    background-color: cyan;
    background-image: url(../images/bluegeo.jpg);
    background-repeat: no-repeat;
    background-position: top;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    height: 560px;
    border: 2px solid black;
    text-align: center;
}

h1 {
    font-size: 300%;
}

h3 {
    font-size: 200%;
    margin: 0px 0px 70px 0px;
}

a {
    margin: 20px 100px;
    text-decoration: none;
    color: white;
    font-size: 150%;
}

.boxes {
    width: 230px;
    height: 150px;
    margin: 0px 35px 60px 35px;
    padding: 40px 25px;
    display: inline-block;
    vertical-align: top;
    border: 1.5px solid black;
    text-align: center;
}

p {
    font-size: 125%;
    text-align: center;
}

